/TDFramework/TDFramework/*.csproj
/TDFramework/TDFramework/ProjectSettings
/TDFramework/TDFramework/*.sln
/TDFramework/TDFramework/Library/*
/TDFramework/TDFramework/obj/*
/TDFramework/TDFramework/Logs/*
/TDFramework/TDFramework/Temp/*
